body{
	background-color:white;
}


p{
	color:darkgreen;
	text-align: left;
}

#head{
	font-size:100px;
	width:100%;
}

.box{
	float:left;
	display: inline-block;
	position:relative;
	margin:10px;
	border-style: solid;
	padding: 15px;
	width: 40%;
	text-align: top;
}