body{
	background-color:turquoise;
}


p{
	color:darkblue;
	text-align: left;
}

#head{
	font-size:75px;
	width:100%;
	height:10%;
}

.box{
	float:left;
	display: inline-block;
	position:relative;
	margin:10px;
	border-style: solid;
	padding: 15px;
	width: 40%;
	height:370px;
}
ul{
	color:darkgreen;
	list-style-type: square;
	list-style-position: outside;
}
